body {
    background-color: rgb(25, 190, 180);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav ul li a {
    border: 0.5rem solid rgb(10, 125, 175);
    border-radius: 0.5rem;
    background-color: rgb(10, 125, 175);
    color: rgb(205, 235, 125);
    text-decoration: none;
}
ul {
    list-style-type: none;
}
ul li {
    display: inline;
    margin-right: 2rem;
}
input {
    background-color: rgb(170, 215, 210);
}